xml/schema/suggerimenti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="suggerimenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="suggerimento" type="Tsuggerimento" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Tsuggerimento">
    <xs:sequence>
      <xs:element name="testo" type="xs:string" />
      <xs:element name="utente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
