xml/schema/tematica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="tematica">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="descrizione" type="xs:string"/>
        <xs:element name="commento" type="Tcomm" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="Tcomm">
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="data" type="xs:date"/>
      <xs:element name="voto" type="xs:integer"/>
      <xs:element name="testo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
