xml/schema/utenti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="utenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="Tuser" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="utente">
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="md5pass" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
